p{

text-align: center}


body 
 h1{text-align: center;}
em strong {color: deeppink;}


#banner{

    width: 100%
    

    
}






.itens {
    font-style: italic;
}



.Benefícios {

background: #ffffff;

}


.principal{

    background: #cccccc;

}





h2 {
    text-align: center;
}








.imagembenefícios {

width:50%



}