p{

text-align: center}


body 
 h1{text-align: center;}
em strong {color: deeppink;}


#banner{

    width: 100%
    

    
}






.itens {
    font-style: italic;
}



.Benefícios {

background: #ffffff;

}


.principal{

    background: #c4c4cc4;

}